footer {
    background-color: $colorrojo;
    padding: 2rem;
    text-align: right;
    margin-top: auto;
    .titulo { 
        text-align: left;
        font-family: $estiloletra;
        font-weight: 900;
        font-size: 45px;
        letter-spacing: 3px;
        text-shadow: 2px 2px 10px $colornegro;
        color: $colorblanco;
        padding-left: 25px;
    }
}
