@media screen and (max-width: 1360px) {
    .subtitulo {
      font-size: 4rem;
    }
  
    .parrafointro {
      font-size: 1.6rem;
    }
  
    .subtitulo4 {
      font-size: 1.75rem;
    }
}
  
@media screen and (max-width: 1280px) {
    .subtitulo {
      font-size: 4rem;
    }
  
    .parrafointro {
      font-size: 1.6rem;
    }
  
    .subtitulo4 {
      font-size: 1.75rem;
    }
}
  
@media screen and (max-width: 1050px) {
    .subtitulo {
      font-size: 4rem;
    }
  
    .parrafointro {
      font-size: 1.6rem;
    }
  
    .subtitulo4 {
      font-size: 1.75rem;
    }
}
  
@media screen and (max-width: 768px) {
    .subtitulo {
      font-size: 3rem;
}
  
    .parrafointro {
      font-size: 1.5rem;
    }
  
    .subtitulo4 {
      font-size: 1.5rem;
    }
  
    footer {
      justify-content: flex-end;
    }
}
  
@media screen and (max-width: 480px) {
    nav h1 {
      font-size: 30px;
    }
  
    .subtitulo {
      font-size: 2rem;
    }
  
    .parrafointro {
      font-size: 1.2rem;
    }
  
    .subtitulo4 {
      font-size: 1.2rem;
    }
  
    footer {
      display: block;
      justify-content: center;
      padding: 20px;
    }
  
    .titulo {
      font-size: 30px;
    }
}
  