$colorrojo : darkred;
$colorblanco : whitesmoke;
$colornegro : black;
$colorfondo : rgba(224, 215, 86, 0.466);
$compraryacolor: rgba(37, 37, 37, 0.274);
$estiloletra : "godofwar";

@font-face{
    font-family: "godofwar";
    src: url("../font/GODOFWAR.TTF");
}



